<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous">
</script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous">
</script>
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous">
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous">
</script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/common.css' %}">

<div class="navbar navbar-dark app-header border-bottom col">
  <div class="collapse" id="navbarHeader">
    <div class="row">
      <div class="col-md-10 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Django project training 02.</p>
      </div>
      <div class="col-md-1 pl-5 py-4">
        <h4 class="text-white">User</h4>
        <span class="text-muted">Profile</span>
        <span class="text-muted pl-1">Logout</span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between w-100">
    <a href='' class="navbar-brand d-flex align-items-center">
      <strong clickable>Member Management System</strong>
    </a>
    <div class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </div>
  </div>
</div>

{% block page_content %}{% endblock %}
{% block sidebar_content %}{% endblock %}
{% block script %}{% endblock %}

<script type="text/javascript">
  $('.navbar-toggler').on('click', function() {
    $($('.app-header')[0]).toggleClass('header-collapsed')
  })
</script>
