body {
  background-image: url('../images/mms.jpg');
  background-position-y: top;
  background-size: cover;
  background-attachment: fixed;
}

.app-header {
  position: absolute;
  width: 100%;
  z-index: 200;
  border-bottom-color: #ffffff30 !important;
}

.header-collapsed {
  background-color: #000000dd;
}

.app-header #navbarHeader {
  position: relative;
  width: 100%;
}

.page-content {
  padding-top: 65px;
  width: 100%;
  color: white;
}

.page-content .list-items {
  height: calc(100vh - 180px);
}

.page-content .list-items .item .title {
  height: 100px;
  border-bottom: solid #ffffff30 1px !important;
}

.page-content .list-items .item .detail {
  padding-top: 10px;
}
